body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

input, button {
    padding: 5px;
    margin: 5px;
}

button {
    cursor: pointer;
}

#imagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    margin: 10px;
}